@import 'src/colors';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  h2 {
    color: $orange;
    width: auto;
  }
}

.part1 {
  flex: 1;

  h1 {
    color: $orange;
    margin-top: 30rem;
    margin-left: 4%;
    font-size: 7rem;
    width: 600px;
  }
}

.part2 {
  flex: 1;
}


img {
  width: 950px;
  height: 770px;
  position: relative;
  right: 15%;
}

.light {
  width: 400px;
  height: 60%;
  position: relative;
  background-color: $orange;
  bottom: 80%;
  z-index: -1;
  left: 15%;
  box-shadow:
    0 0 400px 200px $orange/* inner white */
}
