@import 'src/colors';

div {
  background-color: $lightGrey;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 5px 0 5px;

  p {
    white-space: nowrap;
    padding: 5px;
    margin: 0;
    color: white;
  }
}
