<header>
  <span class="icon-menu" (click)="expandMenu()"></span>
  <img src="./assets/images/logo.png">
  <h1>Pantheon.GG</h1>
  <div class="space"></div>
  <div class="connexion">
    <ng-container *ngIf="auth.isLoggedIn; else connectButton">
      <div class="connectedArea">
        <p>Bonjour {{this.auth.userConnected?.username}}</p>
        <app-simple-button (click)="logout()" text="Se déconnecter"></app-simple-button>
      </div>
    </ng-container>
    <ng-template #connectButton>
      <app-simple-button [text]="'Se connecter avec Metamask'" [image]=true (click)="login()"></app-simple-button>
    </ng-template>

  </div>
</header>
<mat-sidenav-container autosize>
  <mat-sidenav class="sidenav" #sidenav mode="side" opened="true">
    <div class="menu">
      <app-menu-button [text]="'Accueil'" [isExpand]="isExpand" icon="home" routerLink="home"></app-menu-button>
      <app-menu-button [text]="'Tournois'" [isExpand]="isExpand" icon="tournament" routerLink="tournois"></app-menu-button>
      <app-menu-button [text]="'Défis'" [isExpand]="isExpand" icon="duel"></app-menu-button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
